.modal {
    display: none; /* Ocultar por defecto */
    position: fixed;
    inset: 0; /* Alternativa a top, left, right, bottom */
    background: rgba(0, 0, 0, 0.8); /* Fondo oscuro semitransparente */
    z-index: 1100;
    backdrop-filter: blur(5px);
    display: flex; /* Cambiar a flex para centrar contenido */
    align-items: center; /* Centrar verticalmente */
    justify-content: center; /* Centrar horizontalmente */
}

.modal.show {
    display: flex; /* Cambia a flex para mostrar el modal */
}

.modal-content {
    position: relative;
    background: var(--dark-bg); /* Fondo oscuro para el modal */
    color: var(--light-text); /* Texto claro para contraste */
    padding: 2rem;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    box-shadow: var(--shadow); /* Sombra para el modal */
    animation: modalSlideIn 0.3s ease-out;
}

.close-modal {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--light-text); /* Texto claro */
    transition: var(--transition);
}

.close-modal:hover {
    color: var(--accent-color); /* Cambia a color de acento al pasar el cursor */
}

@keyframes modalSlideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
